<p><a asp-controller="MovieGenre" asp-action="Index">MovieGenres</a></p>
<p><a asp-controller="MovieRegisseur" asp-action="Index">MovieRegisseur</a></p>
<p><a asp-controller="Movie" asp-action="Index">Movies</a></p>


<p></p>

<p><a asp-controller="MoviePlaylist" asp-action="Index">Movies Playlist</a></p>
