@model MediaWeb.Models.MovieModels.MovieModels.MovieDeleteViewModel

<p>Wil je @Model.Naam echt verwijderen?</p>
<form asp-controller="Movie" asp-action="ConfirmDelete" asp-route-movieId="@Model.Id" method="post">
    <button class="btn btn-primary" type="submit">Delete</button>
</form>
<a type="button" asp-controller="Movie" asp-action="Index">Go back</a>